import(methods)

export(get.brca.genes,
       get.leukemia.genes,
       process.ge,
       remove.sex.chromosomes,
       process.copynumber,
       read.pollack,
       read.mullighan,       
       read.hyman,
       roc.auc,
       simulation,
       test.geneorder.CNAmet,       
       test.geneorder.dri.cor,
       test.geneorder.dri.sam,
       test.geneorder.edira,
       test.geneorder.intcngean,
       test.geneorder.pint,
       test.geneorder.pipeline,
       test.geneorder.OrtizEstevez,
       test.geneorder.pma,
       test.geneorder.pma.rawscore,
       test.geneorder.sim,
       test.geneorder.preda
       )


#importFrom(PREDA, StatisticsForPREDAFromdataframe)